<% include ../partials/header %>

<div class="container">
	<div class="row">
		<h1 class="text-center">Edit Comment</h1>
		<div style="width: 30%; margin: 25px auto">
			<form method="post" action="/campgrounds/<%= campgroundId %>/comments/<%= comment._id %>?_method=put">
				<div class="form-group">
					<input type="text" class="form-control" name="text" value="<%= comment.text%>">	
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-large btn-primary btn-block">
				</div>
			</form>
			<a href="/campgrounds/<%= campgroundId %>">Back to campground</a>
		</div>
	</div>
</div>
<% include ../partials/footer %>